<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Back to Spring</title>
</head>
<body>
<div layout:fragment="content" class="container" >
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Back to Spring</h1>
            <p class="lead">This example is a quick exercise to use bootstrap with Spring. We used simple design in
                bootstrap. I just i wanted to show integration you.</p>
<!--            <p Message example; th:text="${message}"></p>-->
<!--            <p Date example; th:text="${date}"></p>-->
            <a class="btn btn-lg btn-primary" href="/loginForm" role="button">Login &raquo;</a>
            <a class="btn btn-lg btn-primary" href="/registerFrom" role="button">Register &raquo;</a>
        </div>
    </main>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Back to Spring</title>-->
<!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
<!--    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
<!--    <link href="../../node_modules/bootstrap/dist/css/style.css" rel="stylesheet" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">-->
<!--    <a class="navbar-brand" href="#">Back to Spring</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"-->
<!--            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"-->
<!--                   aria-expanded="false">Dropdown</a>-->
<!--                <div class="dropdown-menu" aria-labelledby="dropdown01">-->
<!--                    <a class="dropdown-item" href="#">Action</a>-->
<!--                    <a class="dropdown-item" href="#">Another action</a>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->
<!--<main role="main" class="container">-->
<!--    <div class="jumbotron">-->
<!--        <h1>Back to Spring</h1>-->
<!--        <p class="lead">This example is a quick exercise to use bootstrap with Spring. We used simple design in-->
<!--            bootstrap. I just i wanted to show integration you.</p>-->
<!--        <a class="btn btn-lg btn-primary" href="#" role="button">Login &raquo;</a>-->
<!--        <a class="btn btn-lg btn-primary" href="#" role="button">Register &raquo;</a>-->
<!--    </div>-->
<!--</main>-->
<!--<footer class="footer mt-auto py-3">-->
<!--    <div class="container">-->
<!--        <span class="text-muted">Place sticky footer content here.</span>-->
<!--    </div>-->
<!--</footer>-->
<!--&lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--&lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"-->
<!--        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"-->
<!--        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"-->
<!--        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"-->
<!--        crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->